* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 모든 요소의 box-sizing을 border-box로 설정 */
}

.container2 {
    width: 1200px;
    margin: auto;
}

.navigation2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
}

.logo2 {
    width: 200px;
}

.menu2 {
    position: relative;
}

.menu2:hover>.dropdown2 {
    display: block;
}

.menu-box2 {
    display: flex;
}

.menu-title2 {
    padding: 28px 32px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.dropdown2 {
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    top: 100%;
    box-shadow: 0 4px 4px 0 #dcdcdc;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    display: none;
    border-top: 2px solid #0f8563;
    z-index: 1;
}

.dropdown-item2 {
    color: #777777;
    text-decoration: none;
    padding: 12px;
    display: block;
}

.dropdown-item2:hover {
    color: #0f8563;
    text-decoration: underline;
    cursor: pointer;
}

.text-bold {
    font-weight: bold;
}

.text-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.text-sub-title {
    font-size: 20px;
}

.text-sub {
    color: #777777;
}

.banner-img {
    width: 1200px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.orphan-possible {
    margin-bottom: 16px;
}

.footer {
    background-color: #3B414D;
    width: 100%;
    height: 120px;
    justify-content: center;
}

.footer-top {
    width: 100%;
    height: 5%;
}

.footer-menu {
    width: 100%;
    height: 20%;
    font-size: 16px;
    margin-bottom: 12px;
}

.footer-come {
    width: 100%;
    height: 15%;
    font-size: 12px;
    color: white;
    margin-left: 12px;
    margin-right: 12px;
}

.footer-come2 {
    width: 100%;
    height: 15%;
    font-size: 12px;
    color: white;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.footer-menu-1 {
    text-decoration: none;
    color: yellow;
    margin-left: 12px;
    margin-right: 12px;
}

.footer-menu-2 {
    text-decoration: none;
    color: #dcdcdc;
    margin-left: 12px;
    margin-right: 12px;
}

.mini-menu {
    margin-top: 32px;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.container-container2 {
    margin-left: 32px;
    margin-top: 32px;
    align-items: center;
    width: 936px;
}

.mini-menu-1 {
    width: 100%;
    height: calc(100%/5);
    color: #0f8563;
    font-size: 24px;
    font-weight: bold;
    padding-left: 16px;
    cursor: pointer;
}

.mini-menu-2 {
    width: 100%;
    height: calc(100%/5);
    color: black;
    font-size: 16px;
}

.mini-menu-3 {
    width: 100%;
    height: calc(100%/5);
    color: #777777;
    font-size: 16px;
    display: flex;
    padding-left: 16px;
    align-items: center;
    cursor: pointer;
}

.mini-menu-4 {
    width: 100%;
    height: calc(100%/5);
    color: #777777;
    font-size: 16px;
    display: flex;
    padding-left: 16px;
    align-items: center;
    cursor: pointer;
}

.mini-menu-5 {
    width: 100%;
    height: calc(100%/5);
    color: #777777;
    font-size: 16px;
    display: flex;
    padding-left: 16px;
    align-items: center;
    cursor: pointer;
}

.mini-menu-3:hover {
    background-color: #0f8563;
    color: white;
}

.mini-menu-4:hover {
    background-color: #0f8563;
    color: white;
}

.mini-menu-5:hover {
    background-color: #0f8563;
    color: white;
}

.naming2 {
    font-weight: bold;
    font-size: 32px;
    height: 80px;
}

.middle1 {
    height: 80%;
    width: 100%;
    display: flex;
}

.deco {
    text-decoration: none;
}

.ps {
    margin-top: 20px;
    height: 60px;
    border: 1px dashed #777777;
    font-size: 12px;
    font-weight: bold;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-img {
    height: 16px;
    width: 16px;
}

.middle-img {
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.deco-acro {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    /* 아코디언이 컨테이너 너비를 채우도록 설정 */
}

.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.accordion-header {
    background-color: #f9f9f9;
    padding: 0;
}

.accordion-button {
    width: 100%;
    text-align: left;
    padding: 15px;
    border: none;
    color:  black;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.accordion-button:hover {
    background-color: #1bc094;
}

.accordion-button.active {
    background-color: #1bc094; /* 클릭 후 유지하고 싶은 색상 */
}

.accordion-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.deco-acro {
    margin-bottom: 24px;
}

.acro-memo {
    background-color: #f9f9f9 ;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-top: 4px;
}

.acro-memo-memo {
    margin-bottom: 16px;
    font-size: 14px;
}

.acro-memo-memo2 {
    padding-bottom: 4px;
    font-size: 14px;
}

.acro-memo-memo3 {
    margin-bottom: 4px;
    margin-top: 8px;
    font-size: 14px;
}

.acro-memo-memo4 {
    margin-bottom: 12px;
    margin-top: 4px;
    font-size: 14px;
}

.acro-memo-memo5 {
    padding-top: 24px;
    margin-bottom: 4px;
    font-size: 14px;
}

.deco2 {
    color: black;
    text-decoration: none;
}

.q{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}